hiro = hsla(220, 100%, 70%, .8)

.chart div
  font: 10px sans-serif
  background-color: steelblue
  text-align: right
  padding: 3px
  margin: 1px
  color: white

.chart
  margin-left: 42px
  font: 10px sans-serif

  rect, circle
    stroke white
    fill hiro

.line
  fill: none
  stroke: #000
  stroke-width: 2px

